<%- include('../partials/header'); -%>
<%- include('../partials/menu'); -%>

<form class="" action="/get_feed" method="post">
    <div style="text-align: center; margin: 20px;">
        <h1>Artist reviews</h1>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <input class="form-control" type="text" name="title" placeholder="Enter Artist's Name">
      </div>
      <div class="col-1">
        <input class="btn btn-primary" type="submit" name="Filter" value = "Filter"/>
      </div>
    </div>
  </form>
  <div style="text-align: center; margin: 20px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Artist</th>
        <th scope="col">Review</th>
        <th scope="col">Review Date</th>
      </tr>
    </thead>
    <tbody>
      <%
      if (rows) {
        let table = '';
        rows.forEach(function(row) {
          table += '<tr> <td>' + row.artist + '</td> <td>' + row.review + '</td> <td>' + row.review_date + '</td>';
        }); %>
      <%- table %>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') -%>